.heroSection {
  height: calc(100vh - var(--nav-height));
  padding: 0 20px;
}

.heroContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroContent div {
  margin-top: 50px;
}

.heroCta {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  border: 1px solid var(--main-bg-nav-color);
  padding: 10px 25px;
  cursor: pointer;
}