ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.siteNavigation {
  background-color: #2660A4;
  color: #fff;
  padding: 25px;
}

.siteNavigationItems {
  display: flex;
  justify-content: space-between;
}

.middle {
  display: flex;
}

.middle .siteNavigationItem {
  margin: 0 10px 0 0;
}