ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.siteNavigation {
  background-color: #2660A4;
  color: var(--main-color);
}

.mobileMenuIcon {
  display: none;
  cursor: pointer;
}

.mobileNavigation {
  visibility: hidden;
  right: -100%;
  position: fixed;
  background-color: var(--main-bg-nav-color);
  height: 100vh;
  width: min(75vw, 400px);
  transition: all 0.3s ease-in;
  font-family: var(--navigation-font);
}

.mobileNavigation aside {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNavigation aside ul li {
  position: relative;
  margin: 0px auto 20px;
  font-size: clamp(14px, 4vw, var(--font-size-lg));
}

.siteNavigationItems {
  display: flex;
  justify-content: space-between;
}

.siteNavigationItems .logo {
  align-self: center;
  color: var(--main-color)!important;
}

.menu {
  display: flex;
}

.menu .siteNavigationItem {
  margin: 0 0 0 10px;
}

@media (width <=768px) {

  .middle,
  .menu {
    display: none;
  }

  .mobileMenuIcon {
    width: 35px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 10;
  }

  .mobileMenuIcon span {
    background: var(--main-color);
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms
  }

  .mobileMenuIcon span:nth-child(1) {
    top: 0px;
    left: 0px;
  }

  .mobileMenuIcon span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
  }

  .mobileMenuIcon span:nth-child(3) {
    bottom: 0px;
    left: 0px;
  }

  .mobileMenuIcon:not(.open):hover span:nth-child(1) {
    transform: rotate(0deg) scaleY(1.1);
  }

  .mobileMenuIcon:not(.open):hover span:nth-child(2) {
    transform: rotate(0deg) scaleY(1.1);
  }

  .mobileMenuIcon:not(.open):hover span:nth-child(3) {
    transform: rotate(0deg) scaleY(1.1);
  }

  .mobileMenuIcon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }

  .mobileMenuIcon.open span:nth-child(2) {
    opacity: 0;
  }

  .mobileMenuIcon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
  }

  .mobileNavigation.open {
    visibility: visible;
    right: 0;
    top: 0;
  }
}