@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --font-size-lg: 18px;
  --font-size-sm: 16px;
  --main-color: #fff;
  --main-bg-nav-color: #2660A4;
  --nav-height: 80px;
  --headings-font: "Montserrat", sans-serif;
  --text-font: "Open Sans", sans-serif;
  --navigation-font: "Nunito", sans-serif;
}

body {
  font-size: var(--font-size-lg);
  font-family: var(--text-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headings-font);
  font-weight: 900;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

.siteNavigationItems a:visited {
  color: var(--main-color);
}

@media (width <= 480px) {
  body {
    font-size: var(--font-size-sm);
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
}